<div id="overview">
  <div class="container">
    <div class="header-container">
      <h1>Overview of all stories</h1>
      <a class="btn btn-outline-info mt-5 header-btn" href="/your-stories/add">Add stories</a>
    </div>
    <form method="get" action="/overview">
      <div class="form-group">
        <label for="category">Select list:</label>
        <select class="form-control" id="category" name="category">
          <option value="" selected="selected" hidden="hidden">Choose here</option>
          <option>Work</option>
          <option>Vacation</option>
          <option>School</option>
          <option>Fun</option>
          <option>Other</option>
        </select>
        <label for="title">Search</label>
        <input name="search" class="form-control form-control-sm" type="text" id="search"/>
      </div>
      <input type="submit" value="submit" class="btn btn-secondary btn-sm"/>
    </form>
    <% stories.forEach(function(story){ %>
      <div class="q-and-a">
        <hr class="mt-4 mb-4"/>
        <h4><a href="/detail/<%= story.id%>"><%= story.title%></a></h4>
        <p><%= story.text%></p>
        <p><small>Category: <%= story.category%></small></p>
      </div>
    <% })%>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
